name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *" # Daily
  workflow_dispatch:
  push:
    branches: [master, main]

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      
      - name: Generate SVG
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: callmeredzi
          outputs: |
            dist/github-contribution-grid-snake.svg
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark

      - name: Push to output branch
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          publish_branch: output
